<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Music/song</title>
    <meta charset="utf-8" />
</head>

<body>
<h1></h1>

<h2>Add song</h2>

<form name='f' action="/sivu/songs" method='POST'>
    <td>
        <select name="artistii">
            <option value=""> -- </option>
            <option th:each="artisti : ${artist}"
                    th:value="${artisti.id}"
                    th:utext="${artisti.nimi}"
            ></option>


    </select>


<h3 th:text="${uusiArtisti}" te></h3>

<h3 th:text="${virhe}" te></h3>

<form method="POST" action="/sivu/songs">
    <span>Song:</span><br/>
    <input type="text" name="name"/><br/>

    <span>Year:</span><br/>
    <input type="text" name="year"/><br/>

</form>
<a href="/sivu">Main Page</a>



</body>
</html>